<?xml version="1.0"?>
<model>
  <name>landing_station</name>
  <version>1.0</version>
  <sdf version='1.4'>landing_station.sdf</sdf>

  <author>
   <name>Ananthakrishnan U S</name>
   <email>me@my.email</email>
  </author>

  <description>
    A landing station with a tag in it for tracking.
  </description>
</model>
